$font-family-sans-serif: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace: Inconsolata, "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$theme-color: #101820FF !default;
$theme-inverse-color: #ffffff !default;
$user-theme-color1 : #eb1736;
$user-theme-color1 : #FF5A09;

