// theme base preparation
@import "fonts";
@import "normalize";
@import "reset";
@import "code";

// variable overrides
$theme-color: {{ default "#101820FF" .Site.Params.themeColor }};//#ff7300
$theme-inverse-color: {{ default "#FEE715FF" .Site.Params.themeInverseColor }};
$user-theme-color1: {{ default "#EB1736" .Site.Params.themeColor}};
$user-theme-color2: {{ default "#FF5A09" .Site.Params.themeColor}};

// theme styles
@import "variables";
@import "typography";
@import "global";
@import "language";
@import "header";
@import "navigation";
@import "publish";
@import "footer";
@import "svg";
@import "license";
@import "taxonomy";
@import "pagination";
@import "curriculum";
